<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SuccessMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into SUCCESS(
			NAME,	
			NUMBER,	
			PHONE,	
			EMAIL,	
			SU_ID
		) values (
			#{NAME},	
			#{NUMBER},	
			#{PHONE},	
			#{EMAIL},	
			#{SU_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from SUCCESS
		where 
			SU_ID = #{SU_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  SUCCESS
			set 
				NAME = #{NAME},
				NUMBER = #{NUMBER},
				PHONE = #{PHONE},
				EMAIL = #{EMAIL},
			SU_ID = SU_ID
			where 
				SU_ID = #{SU_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			NAME,	
			NUMBER,	
			PHONE,	
			EMAIL,	
			SU_ID
		from 
			SUCCESS
		where 
			SU_ID = #{SU_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.NAME,	
				a.NUMBER,	
				a.PHONE,	
				a.EMAIL,	
				a.SU_ID
		from 
				SUCCESS a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.NAME,	
				a.NUMBER,	
				a.PHONE,	
				a.EMAIL,	
				a.SU_ID
		from 
				SUCCESS a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from SUCCESS
		where
		SU_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>