<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemBankMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into ITEMBANK(
			TOPIC,	
			OPTION_A,	
			OPTION_B,	
			OPTION_C,	
			OPTION_D,	
			FLAG,	
			RANK,	
			ANSWER,	
			IT_ID
		) values (
			#{TOPIC},	
			#{OPTION_A},	
			#{OPTION_B},	
			#{OPTION_C},	
			#{OPTION_D},	
			#{FLAG},	
			#{RANK},	
			#{ANSWER},	
			#{IT_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from ITEMBANK
		where 
			IT_ID = #{IT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  ITEMBANK
			set 
				TOPIC = #{TOPIC},
				OPTION_A = #{OPTION_A},
				OPTION_B = #{OPTION_B},
				OPTION_C = #{OPTION_C},
				OPTION_D = #{OPTION_D},
				FLAG = #{FLAG},
				RANK = #{RANK},
				ANSWER = #{ANSWER},
			IT_ID = IT_ID
			where 
				IT_ID = #{IT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			TOPIC,	
			OPTION_A,	
			OPTION_B,	
			OPTION_C,	
			OPTION_D,	
			FLAG,	
			RANK,	
			ANSWER,	
			IT_ID
		from 
			ITEMBANK
		where 
			IT_ID = #{IT_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.TOPIC,	
				a.OPTION_A,	
				a.OPTION_B,	
				a.OPTION_C,	
				a.OPTION_D,	
				a.FLAG,	
				a.RANK,	
				a.ANSWER,	
				a.IT_ID
		from 
				ITEMBANK a
	</select>


	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.TOPIC,	
				a.OPTION_A,	
				a.OPTION_B,	
				a.OPTION_C,	
				a.OPTION_D,	
				a.FLAG,	
				a.RANK,	
				a.ANSWER,	
				a.IT_ID
		from 
				ITEMBANK a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from ITEMBANK
		where 
			IT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>